body {
    background-color: black;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    font-size: 5rem;
    color: #424242;
}

h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

img {
    display: block;
    border-radius: 30px;
    background-color: #E9EAEC;
    margin-left: auto;
    margin-right: auto;
}

div {
    border-radius: 30px;
    margin: 100px;
}

.lower {
    display: flex;
}

#card {
    background-color: #E9EAEC;
    padding: 50px;
    flex-basis: 100%;
}